@charset "utf-8";
/* CSS Document */

@media print {
	#tampil {
		border:1px solid red;
	}
	
	#tampil tr:nth-child(1) td{
		font-weight:bold;
		color:red;
	}
	
	.noprint {
		display: none !important;
	}
}
