@charset "utf-8";
/* CSS Document */

@font-face
{
font-family: font;
src: url('../font/RopaSans-Regular.ttf');
}


*{
	font-family: font;
}
body{
	margin:0;
	padding:0;
	background:url(../../../sige/SIGFasilitasIslam3/images/honey_im_subtle.png);	
}

#main {
	text-shadow: 1px 1px #333;
	font-family:font;
	text-align:center;
	color:white;
	margin: 0 auto;
	width: 1020px;
}

#main input[type="text"], #main input[type="password"],#main select{
	background-color:#4D494A;
	margin-left:20px;
	margin-right:20px;
	font-family:font;
	font-size:15px;
	width:195px;
	text-align:center;
	padding:5px;
	height:18px;
	padding-left:10px;
	-webkit-transition: all 0.25s ease-in-out;
	outline:0;
	margin-top:10px;
	border:0;
	color:white;
}

#main select{
	height:30px !important;	
	width:210px !important;
}

#main input[type="submit"]{
	margin-top:10px;
	margin-bottom:20px;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	padding: 8px 50px;
	background: #515151 ;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;	
	color:white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	box-shadow: 0 1px 3px 0 #333;
}

#login{
	margin-left: auto;
	margin-right: auto;
	margin-top:200px;
	box-shadow: 1px 1px 5px grey;
	border-radius:10px;
	border-collapse:separate;
	border-spacing:0px;
	background-color:white;
}

#cari{
	text-align:right;	
}

#map{
	width: 100%;
	height: 400px;
}

#tanggal{
	float:right;
	padding:5px;
	color: white;	
}

#header {
	background: url(../images/honey_im_subtle.png) center top repeat;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	text-align: left;
	font-size:0.4em;
}
#float{
	float:left;	
}

#footer{
	width:100%;
	height:30px;
	float:right;
	position:relative;
	background-color:#00F;
	padding-top:10px;
	text-align:center;
	color:white;	
}

#image{
	margin-left:25%;
	margin-right:25%;
	margin-top:10%;
}

#wrap{
	width:1200px;	
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#con{
	clear:both;
}

#container{
	width:100%;
	overflow:auto;
}

#wp{
	height:40px;	
	background-color: #222222; 
	background-image: url(images/fallback-gradient.png); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#222222));
	background-image: -webkit-linear-gradient(top, #2F2727, #222222); 
	background-image:    -moz-linear-gradient(top, #2F2727, #222222);
	background-image:     -ms-linear-gradient(top, #2F2727, #222222);
	background-image:      -o-linear-gradient(top, #2F2727, #222222);
	}
	
#head{
	color:#C00;
	padding:10px;
	text-align:center;
	background-color: white;
	}

#button{
	width:100%;
	float:left;
}

#but{
	float:right;	
}

#menu {
	margin-right: auto;
	margin-left: auto;
	width:1200px;
	height:30px;
	padding:5px;
}


nav ul {
	z-index:1;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.judul{
	width: 100%;
	text-align: center;
}

nav ul li {
  display: block;
  position: relative;
  float: left;
}

nav li ul { display: none; }

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 15px 5px 15px;
  white-space: nowrap;
}

nav ul li a:hover {
	color:#b2b2b2;
	background-color: #252525;
	box-shadow:0px 0px 3px 1px #161616 inset;	
}

nav li:hover ul {
  display: block;
  position: absolute;
}

nav li:hover li {
  float: none;
  font-size: 11px;
}

nav li:hover a { 
	color: white;
	background-color: #222222;
}

nav li:hover li a:hover { 
	color:#b2b2b2;
	background-color: #252525;	 }
	
#content{
	font-size:12px;
	padding:10px;	
}

#judul{
	margin-top:20px;
	margin-bottom:20px;
	font-size:20px;
	width:100%;
}



#judul tr:nth-child(1) td{
	padding:10px;
	font-weight:bold;
}

#judul tr:nth-child(2) td{
	background-color:#C2C2C2;
}

.wrapMenu{
    margin-left:-50px;
	margin-bottom:-175px;
	width:10%;
	background-color: white;
	border:inset;
}

.fKategori{
	padding:5px;
	width:98%;
	border: 1px solid black;
}

.fForum{
	padding:5px;
	width:98%;
	border: 1px solid #C4C6BB;
}

.wrapI{
	padding:5px;
	border-radius:0 !important;
	border:inset;
	margin:auto;
	width:80%;
	background-color:white;
	margin-bottom:0px;
}

#tambahUp{
	font-size:14px !important;
	color:#4D494A;
	height:30px;
	text-align:center !important;
	
}
.item{
	float:left;
	margin:10px;
	width:425px;
	height:150px;	
}

.tItem tr td:nth-child(2){
	padding:2px 0px 2px 0px;	
}

#waktu{
	float:left;
	border:1px solid #CCC;
	height:70px;
	width:180px;
	border-radius:10px;
	text-align:center;
	padding:5px;
	margin-right:10px;
}

.conItem{
	width:900px;
	position:relative;
	border:1px solid #CCC;
	float:left;	
	margin:0px 0 10px 0;
}
#tambah{
	border-radius:10px;
	border-collapse:separate;
	border-spacing:0px;
	background-color:white;
	float:left;
	margin-bottom:20px;
}

#tambah tr td{
	padding:5px;	
}

#tambah tr:nth-child(1) td{
	padding-top:15px !important;
	font-size:15px;
}

#tambah tr td:nth-child(1) {
	padding-left:40px;
}

#tambah tr td:last-of-type {
	padding-right:40px !important;	
}

#tambah tr:last-of-type td {
	text-align:center !important;
}

#tambah tr:nth-child(2) td{
	text-align:left !important;
	font-size:9px;
	color:red;
	padding:10px;
}


#tambah input[type="text"],#tambah input[type="number"],#tambah input[type="email"],#tambah select ,#tambah textarea, .input,.select  {
	width:200px;
	border-radius:2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border: 1px solid #E7E7E7;
	background-color:white;
	height:20px;
	padding:5px;
	-webkit-transition: all 0.25s ease-in-out;
	outline-color:#E7E7E7;
}

#ex {
	width:90px !important;	
}

#tambah select,.select{
	height:30px !important;	
}

#tambah textarea{
	width:300px;
	height:80px !important;	
}



#tambah input[type="text"]:hover,#tambah input[type="email"]:hover,#tambah select:hover, #tambah textarea:hover,.input:hover,.select:hover{
	border: 1px solid #828282;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 1px 44px 0 #828282;
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 1px 4px 0 #828282;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.04), inset 0 1px 4px 0 #828282;
}

#button{
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	padding: 8px 13px;
	background: #444;
	color:white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	margin-bottom: 10px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	
}

#tambah #submit,#submit{
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	padding: 8px 13px;
	background: #444;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;	
	color:white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#judul #Tambah{
	text-align:left !important;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	background: #95E024;
	margin-left:20px;
	padding: 5px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;	
	color:#363636;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#cetak{
	background: #444;
	text-align:left !important;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	margin-top:10px;
	margin-left:20px;
	padding: 5px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;	
	color:white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	margin-bottom:20px;
}

#judul #Tambah:hover,#cetak:hover{
	background: #333;
	color:white;
}

#tambah #reset{
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	padding: 8px 13px;
	background: #444;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;	
	color:white;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: none;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#tambah #submit:hover,#submit:hover;#tambah #reset:hover{
	background-color:#333;
	color:white;
}

#tampil {
	margin-top:10px;
	font-size:12px;
	border-spacing:0px;
	clear:both;
}

#tampil tr td:nth-child(1){	
	border-left: 1px solid #EDEDED; 
}

#tampil tr:nth-child(1) td{
	background-color:#4D494A;
	padding:5px;
	padding-top:10px !important;
	padding-bottom:10px !important;
	color:white;
	border:none !important;
	text-align:center;
}

#tampil tr td {
	border-bottom:1px solid #EDEDED;
	border-right:1px solid #EDEDED;
	background-color:white;
	padding:10px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}


#tampil tr:hover td{
	background-color:#A7A7AB;
	color:white;
}

#url{
	text-decoration:none;
	color:black;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#url:hover{
	color:white;	
}

#ketT {
	margin-bottom:10px;
	padding-top:5px !important;
	padding:10px;
	height:10px;
	background-color:#B3FFC0;
	border:2px solid #3FC91D;
	width: 38%;
}

#ketF {
	margin-bottom:10px;
	padding:10px;
	height:10px;
	background-color:#FFA6A6;
	border:2px solid #DF0000;
}

#ketF img, #ketT img{
	margin-right:10px;	
}

#pagging{
	background-color:white;	
	margin-top:10px;
	margin-right:5px;
	padding:5px;
	width:10px;
	float:left;
	border:1px solid #4D494A;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#paggingSelect{
	background-color:#4D494A;	
	margin-top:10px;
	margin-right:5px;
	padding:5px;
	width:10px;
	float:left;
	border:1px solid #4D494A;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#pagging:hover{
	background-color:#4D494A;	
}

a #pagging{
	text-decoration:none;
	color:#000000;
	text-align:center;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a #paggingSelect{
	text-decoration:none;
	color:white;
	text-align:center;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

a #pagging:hover{
	color:white;
}

/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
    Position the close button
	float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 214px;
}

.button:hover {
    background: #ddd;
}

#scrol
{
width:950px;
height:450px;
overflow:scroll;
}