/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Helevetica, Arial, sans-serif;
	font-size: 13px;
	line-height:1.5em; 
	background-image: url(../images/office.png);
	background-repeat: repeat;
}

a, a:link, a:visited {
	color: #0066FF;
}

a:hover {
	color: #CC0000; text-decoration: none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1 { font-size: 40px; font-weight: bold; margin: 0 0 30px 0; padding: 5px 0; color: #9efff7; }
h2 { font-size: 28px; font-weight: normal; line-height: 28px; margin: 0 0 30px 0; padding: 0; color: #000; }
h3 { font-size: 21px; margin: 0 0 20px 0; padding: 0; padding: 0; color: #e2d8bd; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.margin_r30 { margin-right: 30px; }

.vertical_divider { border-right: 1px solid #d9d9d9; }
.horizon_divider {  border-bottom: 1px solid #d9d9d9; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.image_wrapper {
	display: inline-block;
	padding: 8px;
	border: 1px solid #999;
	background: #ffffff;
	margin-bottom: 10px;
}
.fl_img {
	float: left;
	margin: 3px 15px 0px 0px;
}
.fr_img {
	float: right;
	margin: 3px 0 15px 30px;
}

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; }
cite span { color: #8da332; }
em { color: #5d6d1e; }

.templatemo_list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.templatemo_list li {
	background: transparent url(../images/templatemo_list.png) no-repeat scroll 0 0px;
	margin:0 0 20px;
	padding:0 0 0 25px;
	line-height: 1em;
}

.templatemo_list li a {
	color: #666666;
	text-decoration: none;
}

.templatemo_list li a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.button a {
	clear: both;
	display: block;
	width: 100px;
	height: 28px;
	padding: 6px 24px 0 0;
	margin-top: 15px;
	background: url(../images/templatemo_button_hover.png) no-repeat;
	color: #666;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	color: #000;
	background: url(../images/templatemo_button.png) no-repeat;
}

#templatemo_header_wrapper {
	width: 100%;
	height: 80px;
	background: url(../images/templatemo_header_wrapper.jpg) center top no-repeat;
}

#templatemo_header {
	width: 920px;
	padding: 0 25px;
	margin: 0 auto;
	background: url(../images/templatemo_header_wrapper.jpg) center top no-repeat;
}

#templatemo_header  #site_title {
	float: left;
	width: 600px;
	padding-top: 15px;
}

#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
	color: #fff;
}

#templatemo_header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 38px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

#templatemo_header  #site_title a span {
	font-size: 16px;
	color: #888888;
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: 5px;
}

#templatemo_banner_wrapper {
	width: 100%;
	height: 270px;
	margin-bottom: 0px;
	background: url(../images/templatemo_banner_wrapper.jpg) center top no-repeat;
}

#templatemo_banner {
	width: 930px;
	padding-top: 10px;
	margin: auto;
	height: 250px;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 900px;
	height: 28px;
	padding: 13px 35px;
	margin: 0 auto;
	background: url(../images/templatemo_menu.png) no-repeat;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 120px;
	height: 27px;
	padding: 5px 0 0 0;
	margin: 0 5px 0 0 ;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #333;	
	font-weight: bold;
	outline: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul li .current {
	color: #00FF66;
	/*background: url(images/templatemo_menu_hover.png) no-repeat; */
}

/* end of menu */

#templatemo_main {
	clear: both;
	width: 950px;
	margin: 0 auto;
	padding: 40px 0 20px;
	background: url(../images/white_sand.png) center repeat;
}

#templatemo_main_bottom {
	width: 970px;
	height: 5px;
	margin: 0 auto;
	background: url(../images/templatemo_main_bottom.png) no-repeat;
}

#templatemo_content {
	float: left;
	width: 590px;
	padding: 0 0 0 60px; 
}
#templatemo_Rcontent {
	float: right;
	width: 750px;
	padding: 10px 20px 0px 0px; 
}

#templatemo_sidebar {
	float: right;
	width: 250px;
}

#templatemo_sidebar .sidebar_title {
	display: block;
	width: 220px;
	height: 20px;
	padding-top: 12px;
	padding-left: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	background: url(../images/dark_stripes.png) right repeat;
}

#templatemo_sidebar .sidebar_box {
	padding: 0 30px;
}

#templatemo_Lsidebar {
	float: left;
	width: 150px;
}

.two_column {
	width: 260px;
}

.three_column {
	float: left;
	width: 250px;
	padding-right: 30px;
}

.three_column img {
	float: left;
	width: 48px;
}

.three_column p {
	float: right;
	width: 180px;
}

.services_box {
	margin-bottom: 40px;
}

.services_box .sb_left {
	float: left;
	width: 80px;
}

.services_box .sb_right {
	float: right;
	width: 480px;
}

/* gallery */
#gallery {
	clear: both;
	}
	
	#gallery a {
		border: none;
	}
	#gallery ul { list-style: none; margin: 0; padding: 0; }
	#gallery ul li {
		padding: 0;
		margin: 0 0 40px 0;
		padding-bottom: 30px;
		border-bottom: 1px solid #CCC;
	}
	
	#gallery ul li .left {
		float: left;
		width: 190px;
	}
	
	#gallery ul li .left img {
		width: 180px;
		height: 110px;
		border: none;
		border: 5px solid #d4cbaf;
	}
	
	#gallery ul li .right {
		float: right;
		width: 350px;
	}
	
	#gallery ul li .right button {
		margin: 0;
	}
	 
/* end of gallery */

#templatemo_content .news_box {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #999;
}

#templatemo_content .news_box h2 {
	margin-bottom: 5px;
}

#templatemo_content .news_box p {
	text-align: justify;
}

#templatemo_content .news_box .news_info {
	margin-bottom: 20px;
}

#contact_form {
	float: left;
	padding: 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 350px;
	padding: 5px 0;
	background: #fff;
	border: 1px solid #dfdfdf;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;	
}

#contact_form form textarea {
	width: 350px;
	height: 200px;
	background: #fff;
	border: 1px solid #dfdfdf;
}

#contact_form form .submit_btn {
	margin-left: 108px;
	padding: 5px 10px;
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
	color: #666666;
}

#templatemo_footer {
	width: 970px;
	margin: 0px auto;
	padding: 20px 0;
	text-align: center;
	background: url(../images/templatemo_footer.png) no-repeat;
}